@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Mulish:wght@200;300;600;700&display=swap');
@import url(./inbox-side-left.css);
@import url(./inbox-side-right.css);
@import url(./boxbottom.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16;
}
body {
    font-family: 'Mulish', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#outContainer {
    border: 0.5px black solid;
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 29vh;
    padding: 0.3rem 0.3rem 0 0.3rem;
}
#outContainer > .boxTop, #outContainer > .boxBottom {
    border: 0.5px rgb(161, 161, 161) solid;
    box-shadow: 0px 0.19px .3px rgba(133, 133, 133, 0.767);
    display: flex;
}
#outContainer > .boxTop {
    background-color: white;
    height: 83%;
    justify-content:space-between;

}

#outContainer > .boxTop > .left,
#outContainer > .boxTop > .right {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outContainer > .boxTop > .middle {
    border: 0.1px rgb(212, 212, 212) solid;
    width: 0;
    height: 80%;
    margin: auto 0;
}

