@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Mulish:wght@200;300;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 16;
}
body {
    font-family: 'Mulish', sans-serif;
}
#outContainer {
    border: 2px black solid;
    background-color: rgba(255, 0, 0, 0.198);
    width: 30vw;
    height: 29vh;
    margin: 20% auto;
    position: relative;
    padding: 0.3rem 0.3rem 0 0.3rem;
}
#outContainer > .boxTop {
    border: 2px blue solid;
    height: 83%;
    display: flex;
    justify-content:space-between;
}
/* input type text for username and email  */
#outContainer > .boxBottom {
    border: 2px green solid;
    height: 15%;
    display: flex;
    justify-content: center;
}
#outContainer > .boxTop > .left,
#outContainer > .boxTop > .right {
    border: 2px rgb(149, 18, 149) dashed;
    width: 48%;
}

#outContainer > .boxTop > .middle {
    border-left: 0.1px rgb(0, 162, 255) solid;
    width: 0;
    height: 80%;
    margin: auto 0;
}
#outContainer > .boxTop + .boxBottom > .reFo {
    display: flex;
    border: 2px gray dotted;
    width: 49%;
}
#outContainer > .boxTop + .boxBottom > :first-child {
    
    justify-content: flex-end;
    padding-right: 0.3rem;
}
#outContainer > .boxTop + .boxBottom > :last-child{
    padding-left: 0.3rem;
}
#outContainer > .boxTop + .boxBottom > #midBottom {
    border-left: 1px red solid;
    height: 50%;
    margin: auto 0 ;
}
#outContainer > .boxTop + .boxBottom a {
    text-decoration: none;
    color: lightblue
}