@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Mulish:wght@200;300;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 16;
}
body {
    font-family: 'Mulish', sans-serif;
}
#outContainer {
    border: 0.5px black solid;
    background-color: rgba(255, 0, 0, 0.198);
    width: 30vw;
    height: 29vh;
    margin: 20% auto;
    position: relative;
    padding: 0.3rem 0.3rem 0 0.3rem;
}
#outContainer > .boxTop {
    border: 0.5px blue solid;
    height: 83%;
    display: flex;
    justify-content:space-between;
}
/* container for boxBottom  */
#outContainer > .boxBottom {
    border: 0.5px green solid;
    height: 15%;
    display: flex;
    justify-content: center;
}
#outContainer > .boxTop > .left,
#outContainer > .boxTop > .right {
    border: 2px rgb(149, 18, 149) dashed;
    width: 45%;
    display: flex;
    flex-direction: column;
}
#outContainer > .boxTop > .right {
    position: relative;
}

#outContainer > .boxTop > .left > .logLink > a,
#outContainer > .boxTop > .left > .logLink > a:link,
#outContainer > .boxTop > .left > .logLink > a:visited {
    text-decoration: none;
    color: rgb(230, 95, 42);
    margin: auto 0;
}
/* #e4e3e7
Facebook #507bbf - Google #db4a30 - Twitter #65cdf2
Login button: #65b1ff- Text in the box down #378ee2 Background:#f2f9ff  */


/* logLink targets the facebook, google, and twitter registration. I have the feeling that I can make position:relative in .logLink in order to create the separation span inside of it to be position:absolute */
#outContainer > .boxTop > .left > .logLink {
    border: 2px lightgreen solid;
    margin: 0.4rem 0 0.4rem 0;
    height: 22%;
    width: 75%;
    font-size: 0.9rem;
}
#outContainer > .boxTop > .middle {
    border-left: 0.1px rgb(0, 162, 255) solid;
    width: 0;
    height: 80%;
    margin: auto 0;
}
#outContainer > .boxTop > .right:before {
    content: "OR";
    width: 2.3rem;
    height: 2.3rem;
    border: 2px yellowgreen solid ;
    border-radius: 50%;
    position: absolute;
    top: 41%;
    left: -20.5%;
    /* text-align: center; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;   
}
#outContainer > .boxTop > .right > #headline  {
    border: 2px rgb(209, 36, 209) solid;
    text-align: center;
    margin-top: 4%;
}

/* Remember me: #7c7b83 
Sign in with: #444155
OR: #e4e3e7  */
/* Current Stage */
#outContainer > .boxTop > .right > form {
    border: 2px violet solid;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin: 1% auto;
}
#outContainer > .boxTop > .right > form > div {
    border: 2px tomato dotted;
    padding: 1rem 0 1rem 0;
    position: relative;


}
#outContainer > .boxTop > .right > form > div > input[type=text], #outContainer > .boxTop > .right > form > div > input[type=password] {
    border: none;
    border-bottom: 2px red solid;
    padding-left: 2rem;
    font-size: 0.8rem;
}
#outContainer > .boxTop > .right > form > div > input[type=checkbox] {
    opacity: 1;

}
#outContainer > .boxTop > .right > form > div > input[type=checkbox] + span{
    position: absolute;
    border: 2px blueviolet solid;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#outContainer > .boxTop > .right > form > div > input[type=checkbox] + span:before {
    content: "";
    position: absolute;
    border: 1px red solid;
    height: 1rem;
    width: 1rem;
    top: .85rem;

}

#outContainer > .boxTop > .right > form > div > input[type=submit] {
    border: none;
}
/* Register now | Forgotten? init */
#outContainer > .boxTop + .boxBottom > .reFo {
    display: flex;
    border: 2px gray dotted;
    width: 49%;
    height: 55%;
    margin: auto 0;
    font-size: 0.8rem;
    font-weight: 700;
}
#outContainer > .boxTop + .boxBottom > :first-child {
    
    justify-content: flex-end;
    padding-right: 0.3rem;
}
#outContainer > .boxTop + .boxBottom > :last-child{
    padding-left: 0.3rem;
}
#outContainer > .boxTop + .boxBottom > #midBottom {
    border-left: 1px red solid;
    height: 50%;
    margin: auto 0 ;
}
#outContainer > .boxTop + .boxBottom a:link,
#outContainer > .boxTop + .boxBottom a:visited
 {
    text-decoration: none;
    color: rgb(42, 74, 190)
}
/* a:any-link, a:any-link:visited {
    text-decoration: none;
} */
#outContainer > .boxTop + .boxBottom a:active {
    text-decoration: none;
    color: rgb(190, 114, 42)
}
/* change the active color */